[submodule "ThirdParty/VtkFbxConverter"]
	path = ThirdParty/VtkFbxConverter
	url = https://github.com/ufz-vislab/VtkFbxConverter.git
[submodule "ThirdParty/tetgen"]
	path = ThirdParty/tetgen
	url = https://github.com/ufz/tetgen.git
[submodule "vtkdiff"]
	path = ThirdParty/vtkdiff
	url = https://github.com/ufz/vtkdiff.git
[submodule "ThirdParty/tclap"]
	path = ThirdParty/tclap
	url = https://github.com/ufz/tclap.git
[submodule "ThirdParty/autocheck"]
	path = ThirdParty/autocheck
	url = https://github.com/thejohnfreeman/autocheck.git
[submodule "ThirdParty/cmake-modules"]
	path = ThirdParty/cmake-modules
	url = https://github.com/ufz/cmake-modules.git
[submodule "Tests/Data"]
	path = Tests/Data
	url = https://github.com/ufz/ogs-data
[submodule "ThirdParty/vtkGUISupportQt"]
	path = ThirdParty/vtkGUISupportQt
	url = https://github.com/ufz/vtkGUISupportQt.git
[submodule "ThirdParty/metis"]
	path = ThirdParty/metis
	url = https://github.com/scibuilder/metis.git
[submodule "ThirdParty/SwmmInterface"]
	path = ThirdParty/SwmmInterface
	url = https://github.com/ufz/SwmmInterface.git
[submodule "ThirdParty/dune/dune-common"]
	path = ThirdParty/dune/dune-common
	url = https://gitlab.dune-project.org/core/dune-common.git
[submodule "ThirdParty/dune/dune-geometry"]
	path = ThirdParty/dune/dune-geometry
	url = https://gitlab.dune-project.org/core/dune-geometry.git
[submodule "ThirdParty/dune/dune-grid"]
	path = ThirdParty/dune/dune-grid
	url = https://gitlab.dune-project.org/core/dune-grid.git
[submodule "ThirdParty/dune/dune-uggrid"]
	path = ThirdParty/dune/dune-uggrid
	url = https://gitlab.dune-project.org/staging/dune-uggrid.git
